In [123]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
%matplotlib inline

In [287]:
assets= ['ASII.JK', '^JKSE']

In [288]:
data = pd.DataFrame()
for t in assets:
    data[t] = wb.DataReader(t, "yahoo", start='2014-01-01', end='2018-12-31')['Adj Close']

In [289]:
data.tail()

            ASII.JK        ^JKSE
Date
2018-12-26   8125.0  6127.850098
2018-12-27   8225.0  6190.643066
2018-12-28   8225.0  6194.498047
2018-12-31   8225.0          NaN
2019-01-01   8225.0          NaN

In [290]:
sec_returns = np.log(data / data.shift(1))

In [291]:
cov = sec_returns.cov() * 250
cov

          ASII.JK     ^JKSE
ASII.JK  0.091524  0.028728
^JKSE    0.028728  0.020123

In [292]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.028727997903800043

In [293]:
market_var = sec_returns[assets[1]].var() * 250
market_var

0.020122577079833906

### Beta
#### Beta = 0 -> no relationship
#### Beta < 1 -> Defensif
#### Beta > 1 -> Agresif

In [294]:
beta_result = cov_with_market / market_var
beta_result

1.427650036564659

### Calculate CAPM (willing to take risk)

In [295]:
# Indonesian bond yield
risk_free = 0.07
# equity risk premium indonesia
risk_premium = 0.08

expected_return = risk_free + beta_result * risk_premium
expected_return

# # Indonesian bond yield
# risk_free = 0.025
# # equity risk premium indonesia
# risk_premium = 0.05

# expected_return = risk_free + beta_result * risk_premium
# expected_return

0.18421200292517273

### Sharpe Ratio

In [296]:
sharpe = (expected_return - risk_free) / (sec_returns[assets[0]].std() *250 ** 0.5)
sharpe

0.37752370641990773