In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
%matplotlib inline

In [117]:
tickers = ['ASII.JK', 'BBRI.JK']
data = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, "yahoo", start='2009-01-01')['Adj Close']

In [118]:
data.tail()

            ASII.JK  BBRI.JK
Date
2019-02-18   7875.0   3840.0
2019-02-19   7775.0   3910.0
2019-02-20   7775.0   3890.0
2019-02-21   7700.0   3910.0
2019-02-22   7625.0   3900.0

In [119]:
security_returns = np.log(data / data.shift(1))
security_returns.tail()

             ASII.JK   BBRI.JK
Date
2019-02-18  0.035545  0.018397
2019-02-19 -0.012780  0.018065
2019-02-20  0.000000 -0.005128
2019-02-21 -0.009693  0.005128
2019-02-22 -0.009788 -0.002561

## Ticker[0]

In [120]:
security_returns[tickers[0]].mean()

0.00127356513486471

In [121]:
security_returns[tickers[0]].mean() * 250

0.31839128371617753

In [122]:
security_returns[tickers[0]].std()

0.023222638489076602

In [123]:
security_returns[tickers[0]].std() * 250 ** 0.5

0.3671821545208665

## Ticker[1]

In [124]:
security_returns[tickers[1]].mean()

0.0014184421527405975

In [125]:
security_returns[tickers[1]].mean() * 250

0.35461053818514937

In [126]:
security_returns[tickers[1]].std()

0.023853218456092614

In [127]:
security_returns[tickers[1]].std() * 250 ** 0.5

0.3771524992340888

In [128]:
print(security_returns[tickers[0]].mean() * 250)
print(security_returns[tickers[1]].mean() * 250)

0.31839128371617753
0.35461053818514937

In [129]:
security_returns[tickers].mean() * 250

ASII.JK    0.318391
BBRI.JK    0.354611
dtype: float64

In [130]:
security_returns[tickers].std() * 250 ** 0.5

ASII.JK    0.367182
BBRI.JK    0.377152
dtype: float64

## Covariance and Corelation

In [131]:
tic0_variance = security_returns[tickers[0]].var()
tic0_variance

0.000539290938394342

In [132]:
tic1_variance = security_returns[tickers[1]].var()
tic1_variance

0.0005689760307140773

In [133]:
tic0_variance_annual = security_returns[tickers[0]].var() * 250
tic0_variance_annual

0.13482273459858551

In [134]:
tic1_variance_annual = security_returns[tickers[1]].var() * 250
tic1_variance_annual

0.14224400767851933

In [135]:
cov_matrix = security_returns.cov()
cov_matrix

          ASII.JK   BBRI.JK
ASII.JK  0.000539  0.000231
BBRI.JK  0.000231  0.000569

In [136]:
cov_matrix_annual = security_returns.cov() * 250
cov_matrix_annual

          ASII.JK   BBRI.JK
ASII.JK  0.134823  0.057695
BBRI.JK  0.057695  0.142244

In [137]:
corr_matrix = security_returns.corr()
corr_matrix

          ASII.JK   BBRI.JK
ASII.JK  1.000000  0.416617
BBRI.JK  0.416617  1.000000

## Calculate portfolio risk

#### equal Weighting scheme

In [138]:
weights = np.array([0.5, 0.5])

##### Portfolio variance

In [139]:
portfolio_var = np.dot(weights.T, np.dot(security_returns.cov() * 250 , weights))
portfolio_var

0.09811402287664661

##### Portfolio volatility

In [140]:
portfolio_vol = (np.dot(weights.T, np.dot(security_returns.cov() * 250 , weights))) ** 0.5
portfolio_vol

0.31323158026713493

In [141]:
print(str(round(portfolio_vol, 5) * 100) + " %")

31.323 %

## Calculate diversifiable and Non diversifiable risk portfolio

#### Diversifiable risk

In [142]:
tic0_var_annual = security_returns[[tickers[0]]].var() * 250
tic0_var_annual

ASII.JK    0.134823
dtype: float64

In [143]:
tic1_var_annual = security_returns[[tickers[1]]].var() * 250
tic1_var_annual

BBRI.JK    0.142244
dtype: float64

In [144]:
dr = portfolio_var - (weights[0] ** 2 * tic0_var_annual) - (weights[1] ** 2 * tic1_var_annual)
dr

ASII.JK   NaN
BBRI.JK   NaN
dtype: float64

In [145]:
float(tic0_var_annual)

0.13482273459858551

In [146]:
tic0_var_annual = security_returns[tickers[0]].var() * 250
tic0_var_annual

0.13482273459858551

In [147]:
tic1_var_annual = security_returns[tickers[1]].var() * 250
tic1_var_annual

0.14224400767851933

In [148]:
dr = portfolio_var - (weights[0] ** 2 * tic0_var_annual) - (weights[1] ** 2 * tic1_var_annual)
dr

0.0288473373073704

In [149]:
print(str(round(dr*100 , 3)) + " %")

2.885 %

#### NON Diversifiable risk

In [150]:
ndr1 = portfolio_var - dr
ndr1

0.0692666855692762

In [151]:
ndr2 = (weights[0] ** 2 * tlkm_var_annual) - (weights[1] ** 2 * bbri_var_annual)
ndr2

-0.010770696827657158

In [152]:
ndr1 == ndr2

False