In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
tickers = ['BMRI.JK', 'BBRI.JK']
data = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, "yahoo", start='2009-01-01')['Adj Close']

In [23]:
data.tail()

            BMRI.JK  BBRI.JK
Date
2019-02-15   7175.0   3770.0
2019-02-18   7275.0   3840.0
2019-02-19   7200.0   3910.0
2019-02-20   7100.0   3890.0
2019-02-21   7325.0   3910.0

In [24]:
security_returns = np.log(data / data.shift(1))
security_returns

             BMRI.JK   BBRI.JK
Date
2009-01-05       NaN       NaN
2009-01-06 -0.011428 -0.010363
2009-01-07 -0.035088 -0.015748
2009-01-08 -0.048791 -0.021391
2009-01-09 -0.025318  0.016086
2009-01-12 -0.010309  0.021053
2009-01-13  0.074852  0.000000
2009-01-14 -0.039224 -0.010471
2009-01-15 -0.025318 -0.032088
2009-01-16  0.000000  0.005420
2009-01-19 -0.020726  0.016086
2009-01-20  0.005221 -0.010695
2009-01-21 -0.075711  0.000000
2009-01-22  0.011173 -0.027250
2009-01-23 -0.011173 -0.045205
2009-01-27  0.005603  0.000000
2009-01-28  0.005570 -0.017493
2009-01-29  0.016530  0.062698
2009-01-30 -0.005480  0.005510
2009-02-02 -0.022223 -0.044951
2009-02-03  0.000000  0.011429
2009-02-04  0.000000  0.000000
2009-02-05  0.005603 -0.011429
2009-02-06  0.005570  0.028331
2009-02-09 -0.016807 -0.005602
2009-02-10 -0.011364 -0.051885
2009-02-11 -0.005731 -0.036148
2009-02-12  0.022728  0.036148
2009-02-13 -0.022728  0.046251
2009-02-16 -0.005763  0.011236
...              ...       ...
2019-01-11  0.000000 -0.005348
2019-01-14  0.000000  0.015958
2019-01-15  0.012903 -0.002642
2019-01-16  0.000000  0.000000
2019-01-17  0.009569  0.007905
2019-01-18  0.000000  0.002621
2019-01-21 -0.009569 -0.005249
2019-01-22 -0.006431 -0.007926
2019-01-23 -0.036129  0.000000
2019-01-24  0.000000  0.005291
2019-01-25 -0.013468 -0.002642
2019-01-28 -0.027493  0.000000
2019-01-29 -0.006993 -0.024098
2019-01-30  0.017392  0.016129
2019-01-31  0.027213  0.026317
2019-02-01  0.019934  0.018019
2019-02-04 -0.033448 -0.005115
2019-02-05  0.000000  0.000000
2019-02-06  0.016864  0.005115
2019-02-07  0.009983  0.002548
2019-02-08  0.003306 -0.010230
2019-02-11  0.006579 -0.005155
2019-02-12 -0.026580 -0.005181
2019-02-13 -0.023851 -0.015707
2019-02-14 -0.010399  0.002635
2019-02-15  0.000000 -0.007926
2019-02-18  0.013841  0.018397
2019-02-19 -0.010363  0.018065
2019-02-20 -0.013986 -0.005128
2019-02-21  0.031198  0.005128

[2506 rows x 2 columns]

## INDF

In [26]:
security_returns['BMRI.JK'].mean()

0.0009336436089510838

In [10]:
security_returns['BMRI.JK'].mean() * 250

0.2314647342625447

In [27]:
security_returns['BMRI.JK'].std()

0.021672471661256697

In [28]:
security_returns['BMRI.JK'].std() * 250 ** 0.5

0.3426718648751217

## BBRI

In [30]:
security_returns['BBRI.JK'].mean()

0.0014200306808900645

In [31]:
security_returns['BBRI.JK'].mean() * 250

0.3550076702225161

In [32]:
security_returns['BBRI.JK'].std()

0.023857848422337454

In [33]:
security_returns['BBRI.JK'].std() * 250 ** 0.5

0.3772257054282057

In [34]:
print(security_returns['BMRI.JK'].mean() * 250)
print(security_returns['BBRI.JK'].mean() * 250)

0.23341090223777097
0.3550076702225161

In [35]:
security_returns[['BMRI.JK', 'BBRI.JK']].mean() * 250

BMRI.JK    0.233411
BBRI.JK    0.355008
dtype: float64

In [36]:
security_returns[['BMRI.JK', 'BBRI.JK']].std() * 250 ** 0.5

BMRI.JK    0.342672
BBRI.JK    0.377226
dtype: float64